<h1 class="mb-3">All our Flats <%= "(#{@flats.count})" %></h1>

<div class="card-grid">
  <% @flats.each do |flat| %>
<!--    TODO: ask about random photo -->
    <div class="flat-card">
      <div class="flat-card-image" style="background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200')">
      </div>
      <div class="flat-top">
        <div class="flat-top-title">
          <h4> <strong><%= flat.name %> </strong></h4>
        </div>
        <p><%= flat.address %></p>
        <div class="card-details">
          <div class="card-guests">
            <p> <i class="fas fa-user-friends"></i> <%= flat.number_of_guests %></p>
          </div>
          <div class="card-price ml-3">
            <p> <i class="fas fa-euro-sign"></i> <%= flat.price_per_night %></p>
          </div>
        </div>
      </div>
      <div class="flat-actions">
        <%= link_to "More details", flat_path(flat), class: 'text-primary' %>
        <%= link_to "Edit", "#", class: 'ml-3 text-warning' %>
        <%= link_to "Remove", "#", class: 'ml-3 text-danger' %>
      </div>
    </div>
  <% end %>
</div>
